body {
  /*font: 14px "Century Gothic", Futura, sans-serif;*/
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background: 'green'
}

p {
  font-size: 1.6rem;
}

.heading {
  font-family: 'Nunito', sans-serif;
  font-size:  5rem;
}

ol, ul {
  padding-left: 30px;
}


